@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: #eee;
  overflow-x:  hidden;
}

main{
  padding: 0 60px;
}

.slick-slide>div{
  margin: 0 30px;
}

.slick-slide>div:nth-child(1){
  margin-left: 0;
}

.slick-list{
  margin-right: -30px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
